<section class="contact-area pt-180 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-6">
                <div class="feature_wrapper_02 mb-30">
                    <div class="section-title text-left mb-40">
                        <h5>Contactanos</h5>
                        <h3>Empecemos a hablar de su proyecto</h3>
                    </div>
                    <ul class="features_list contact-list mb-40">
                        <li><i class="fal fa-map-marker-alt"></i><span> Parque Empresarial Aeropuerto Torre 2
                            Cluster Piso 4, La Voz del Interior KM 8.5, X5008HMO, Argentina</span></li>
                        <li><i class="fal fa-phone"></i> +54 (0351) 570 4453 </li>
                        <li><i class="fal fa-envelope-open"></i>support@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-6 offset-xxl-2 col-lg-6">
                <div class="contact-form">
                    <div class="form">
                        <div class="row">
                            <div class="col-xl-6">
                                <input class="contact__input" type="text" placeholder="Nombre">
                            </div>
                            <div class="col-xl-6">
                                <input class="contact__input" type="email" placeholder="Dirección de correo">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <input class="contact__input" type="text" placeholder="Numero telefónico">
                            </div>
                            <div class="col-xl-6">
                                <input class="contact__input" type="text" placeholder="Asunto">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <textarea class="contact__input contact__input-messege" name="message"
                                    placeholder="Escriba su mensaje"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="subs-btn">
                                    <a class="theme_btn theme_btn_bg" href="">Enviar<i
                                            class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-area-end -->

<div class="google-map contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3408.656446186733!2d-64.2259166884304!3d-31.313239291166024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432988140b72e63%3A0xe3c52d91c8dbf7f1!2sMultiSoft%20ENTERPRISE%20SAS!5e0!3m2!1ses!2sco!4v1694967017218!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
