.deta{
	padding: 30px;
    text-align: justify;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.mb-30 {
        margin-bottom: 30px;
        padding-top: 20px;
}

img, svg {
    vertical-align: middle;
    max-width: 55%;
}

.do-box-green .do_box__icon {
    height: 70px;
    width: 70px;
    line-height: 80px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
}
