
<section class="what-we-do-areas-04 wwd-pad pt-180 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 pt-30">
                <div class="video-wrapper text-center pos-rel mb-30"
                    style="background-image:url(assets/multi/img/ofi.jpg);">
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 pt-70">
                <div class="section-title green-title text-center pr-50 pl-50 mb-80 wow fadeInUp2  animated"
                    data-wow-delay=".2s">
                    <h2>Grandes pasos, grandes soluciones</h2>
                    <h5 style="padding-top: 20px;">Nuestro software cubre 20 rubros, pensando siempre en la facilidad para gestionar su empresa</h5>
                </div>
            </div>
          
        </div>
      
        <div class="row">
            <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6" *ngFor="let module of yeoman.filteredModules">
                <div class="no-active do_box-2 do-box-green  text-center mb-30 wow fadeInUp2  animated"
                    data-wow-delay=".4s" >
                    <div class="do__box-inner">
                        <div class="do_box__icon mb-25">
                           
                            <img src="{{module.images[0]}}" alt="Multisoft®" *ngIf="module.images[0]!==undefined"  class="fixed-size-image">

                        </div>
                        <h4>{{module.name}}</h4>
                        <p>{{module.description}}</p>
                       
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
   
