<footer class="footer-area heding-bg pos-rel pt-100">
    <div class="container">
        <div class="inner-border-bottom">
            <div class="row pb-20">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6  wow fadeInUp2 animated" data-wow-delay='.1s'>
                    <div class="footer__widget pr-40 mb-30">
                        <h5 class="semi-title mb-25"><a [routerLink]="['./']"> Multisoft</a></h5>
                        <p>Empresa desarrolladora y distribuidora de software empresarial</p>
                        <div class="footer-log mt-25 mb-30">
                            <a  class="footer-logo mb-30" [routerLink]="['./']"><img
                                    src="assets/multi/img/logo/footer-logo1.png" alt=""></a>
                        </div>
                    </div>
                </div>
               
                <div class="col-xxl-4 col-xl-4  col-lg-4 col-md-6 col-sm-6 wow fadeInUp2 animated"  data-wow-delay='.3s'>
                    <div class="footer__widget mb-30">
                        <h5 class="semi-title mb-25">Enlaces utiles</h5>
                        <ul class="fot-list">
                            <li><a [routerLink]="['./about']">Quienes somos</a></li>
                            <li><a [routerLink]="['./solutions']">Productos</a></li>
                            <li><a [routerLink]="['./capacity']">Tutoriales</a></li>
                            <li><a [routerLink]="['./downloads']">Documentación</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6  wow fadeInUp2 animated"
                    data-wow-delay='.5s'>
                    <div class="footer__widget mb-25">
                        <h5 class="semi-title mb-25">Contacto</h5>
                        <ul class="fot-list address-list">
                            <li><a href="mailto:support@gmail.com"><span><i class="fa fa-envelope"></i></span>
                                    support@gmail.com</a></li>
                            <li><a href="https://www.google.com/maps?ll=-31.313244,-64.223336&z=17&t=m&hl=es&gl=CO&mapclient=embed&cid=16412574521185007601" target="_blank"><span><i class="far far fa-map-marker-alt"  ></i></span> Parque Empresarial Aeropuerto Torre 2 <br>Cluster Piso 4, La Voz del Interior KM 8.5, X5008HMO, Argentina</a></li>
                            <li><a href="tel:+5403515704453 "><span><i class="far fa-phone-volume" ></i></span> +54 (0351) 570 4453</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- copyright-area-start -->
        <div class="copy-right-area pt-30">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="copyright-social mb-25">
                        <a href="https://web.facebook.com/people/MultiSoft-Enterprise-SAS/100084148784145/" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a>
                        <a href="https://twitter.com/multisoftarg" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a>
                        <a href="https://www.instagram.com/multisoftarg" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
                        <a href="https://www.youtube.com/@multisoft552" target="_blank"><i class="fab fa-youtube"></i> Youtube</a>
                        <a href="https://www.linkedin.com/company/multisoft-enterprise-sas/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="copyright mb-25 text-start text-lg-end">
                        <p>Multisoft© 2023 Copyright, Todos los derecho reservados, Desarrollado por <a href="https://www.buckapi.com/" target="blank">Buckapi</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
