.testimonial-active-07  {
  border-radius: 5%;
}

.testimonial-item-1, .testimonial-item-h4 {
  border-radius: 5%;
}

.d-flex {
  display: flow-root;
}
.testimonial-author{
  text-align: center;
  padding-bottom: 20px;
}
  .swiper-button-prev, .swiper-container-rtl  {
    left: 2px;
    right: auto;
    --swiper-theme-color: #121c36;
    --swiper-navigation-color: #121c36;
   
  }

  .swiper-button-next, .swiper-container-rtl  {
    right: 2px;
    left: auto;
    --swiper-theme-color: #121c36;
    --swiper-navigation-color: #121c36;
   
}


.fixed-size-image {
  width: 200px;
  height: 200px;
  border-radius: 5%;
  border: 5px solid #1c2c54;
  filter: grayscale(100%);
}

.fixed-size-image1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #1c2c54;
 
}

.fixed-size-image-2 {
  width: 200px;
  height: 200px;
  border-radius: 5%;
  border: 5px solid #1c2c54;
 
}

@media screen and (max-width: 768px) {
  .fixed-size-image{
    width: 150px;
    height: 150px;
    border-radius: 5%;
    border: 5px solid #1c2c54;
    filter: grayscale(100%);
  }

  .fixed-size-image1 {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 5px solid #1c2c54;     
    }
  .fixed-size-image-2 {
    width: 150px;
    height: 150px;
    border-radius: 5%;
    border: 5px solid #1c2c54;
   
    }
    .swiper-button-prev, .swiper-container-rtl  {
      left: -4px;
      right: 100%;
      --swiper-theme-color: #1c2c54;
      --swiper-navigation-color: #121c36;
     
    }
  
    .swiper-button-next, .swiper-container-rtl  {
      right: 2px;
      left: 93%;
      --swiper-theme-color: #1c2c54;
      --swiper-navigation-color: #121c36;
     
  }
    
}