<section class="section featured-area pt-180 pb-95">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="kw-portfolio-style">
                  <ul class="nav nav-tabs kw-spc kw-nav-style">
                    <li class="nav-item" *ngFor="let category of categories; let i = index">
                        <button class="nav-link" [ngClass]="{'active': category === selectedCategory}" style="cursor:pointer" (click)="setCategory(i)" > {{category.name}}</button>
                      </li>
                      <li class="nav-item">
                        <button class="nav-link" (click)="showAllCategories()">Ver Todos</button>
                      </li>
                      
                    
                  </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active">
                <div class="row" *ngIf="categoryFilter.categorySelected">
                    <div class=" col-lg-3 col-md-6" *ngFor="let client of yeoman.allclient;let i = index"  [hidden]="categoryFilter.categorySelected.id !== client.idNew && categoryFilter.filtered">
                        <div class="kw-single-portfolio box-shadow mb-30">
                            <div class="kw-portfolio-thumb" style="text-align: center;">
                                <img src="{{client.images[0]}}" alt="clientes de Multisoft®" *ngIf="client.images[0]!==undefined"  class="fixed-size-image">
                                <h3>{{client.name}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>