<section class="job-area pb-50 grey-bg to" >
    <div class="container">
        <div class="job-box white-bg">
           

            <div class="row" >
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                    <h2>Capacitación | Para asegurar la máxima productividad de los sistemas es necesario contar con usuarios expertos.</h2>

                    <div class="job-responsibilities">
                        <div class="row">
                            <!-- <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                                <div class="job-videos pos-rel mb-50 mt-30 v">
                                     <div class="job-videos-thumb">
                                         <img class="img-fluid" src="assets/multi/img/job/02.png" alt="" >
                                     </div>
                                  
                                 </div>
                             </div> -->

                            <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 list" style="padding-top: 25px;">
                                <h4 class="mb-20">Compras</h4>
                                <ul>
                                    <li><a href="https://www.youtube.com/embed/INp_D59Npyg" title=""> Alta de comprobantes y Fact. Pend Remitir de Compras </a> </li>
                                    <li>Alta de Comprobantes y Facturas Pend. de Remitir de Compras</li>
                                    <li><a href="https://www.youtube.com/embed/VH0wPNn7Nto"> Importación IVA ventas/compras desde archivos externo</a></li>
                                    <li><a href="https://www.youtube.com/embed/9meyaasN080" title="">Pedidos en linea - pedidos proveedores</a> </li>

                                    
                                </ul>
                            </div>
                        </div>   
                        
                       
                        <div class="row">
                            
                            <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 list">
                                <h4 class="mb-20">Sueldos</h4>
                                <ul>
                                    <li><a href="https://www.youtube.com/embed/RvevMj7iyqU"> Modulo Sueldos Parte I </a></li>
                                    <li><a href="https://www.youtube.com/embed/QVW3TTjkuKE"> Modulo Sueldos Parte II</a></li>
                                    
                                </ul>
                            </div>
                        </div>   
                        
                        <div class="row">
                            
                            <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 list">
                                <h4 class="mb-20">Facturación</h4>
                                <ul>
                                    <li><a href="https://www.youtube.com/embed/sEU5SfMysI4"> Definir Prefijos para Facturar I </a></li>
                                    <li><a href="https://www.youtube.com/embed/l2hCwVQdXdM"> Configuración de Prefijos para Facturar</a></li>
                                    <li><a href="https://www.youtube.com/embed/l2hCwVQdXdM"> Configuración de Prefijos para Facturar II</a></li>
                                    <li><a href="https://www.youtube.com/embed/hTx835MT9mg"> Configuración de Hora- Factura Electrónica</a></li>
                                    
                                </ul>
                            </div>
                        </div> 
                        <div class="row">
                           
                            <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 list">
                                <h4 class="mb-20">Inventario</h4>
                                <ul>
                                    <li><a href="https://www.youtube.com/embed/NsGnoM895lk"> Alta de grupos y marcas</a></li>
                                    <li><a href="https://www.youtube.com/embed/70XUMC7AzsE"> Alta de artículos y códigos especiales</a></li>
                                    <li><a href="https://www.youtube.com/embed/Cvjo3KhcpG8"> Ajuste de inventario I</a></li>
                                    <li><a href="https://www.youtube.com/embed/mIYVmzGwFdE"> Ajustes de stock II- Importar desde Excel</a></li>
                                    <li><a href="https://www.youtube.com/embed/9meyaasN080"> Pedidos en Linea - Pedidos Proveedores</a></li>
                                    <li><a href="https://www.youtube.com/embed/uI127pVRi7w"> Artículo con componentes</a></li>
                                    
                                </ul>
                            </div>
                        </div> 
                        <div class="row">
                           
                            <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 list">
                                <h4 class="mb-20">Contabilidad</h4>
                                <ul>
                                    <li><a href="https://www.youtube.com/embed/vFth1tggNXU"> Conciliaciones Bancarias</a></li>
                                    <li><a href="https://www.youtube.com/embed/vFth1tggNXU"> Como dar de Alta a Clientes y Proveedores</a></li>
                                    <li><a href="https://www.youtube.com/embed/sEU5SfMysI4"> Rechazo de cheque de terceros</a></li>
                                    <li><a href="https://www.youtube.com/embed/WHu64M40JtQ"> Rechazo de Cheque Propio</a></li>
                                    <li><a href="https://www.youtube.com/embed/-1-OMMY2Pns"> Condiciones de Venta</a></li>
                                    <li><a href="https://www.youtube.com/embed/aTKoJC3PgrA"> Retenciones a Proveedores</a></li>
                                    <li><a href="https://www.youtube.com/embed/PVjPHyN9M6c"> Alta de puntos de venta y sucursales</a></li>
                                    <li><a href="https://www.youtube.com/embed/26F7dMOWLPE"> Tipos de cobro- pagos</a></li>
                                    <li><a href="https://www.youtube.com/embed/QwPez6Sf1s8"> Importar contribuyentes de AFIP para control de CUIT</a></li>
                                    <li><a href="https://www.youtube.com/embed/lvwMRy9UpEQ"> Comparación mayor contable con gestión</a></li>
                                    <li><a href="https://www.youtube.com/embed/INp_D59Npyg"> Ajuste por Inflación</a></li>
                                    
                                </ul>
                            </div>
                        </div> 
                    </div>
                    
                    
                    

                </div>
               

               
            </div>
        </div>
    </div>
</section>