<main>
    <section class="blog-area blog-details pt-150 pb-85">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <div class="blog-strandard-content">
                        <div class="kblog mb-35">
                            <div class="kblog__img mb-35">
                                <!-- <img class="img-fluid" src="{{global.previewPost.img}}" alt="" style="max-width: 50%;"> -->
                            </div>
                            <div class="kblog__content">
                                <div class="bl-meta mb-10">
                                    <ul>
                                        <li><span><i class="fal fa-user-circle"></i>Por
                                                <span>{{global.previewPost.author}}</span></span>
                                        </li>
                                        <li><span><i
                                                    class="fal fa-calendar-alt"></i>{{global.previewPost.createdAt|date}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <a>
                                    <h4>{{global.previewPost.title}}</h4>
                                </a>
                                <div *ngFor="let item of global.previewPost.body.ops" class="row">
                                    <ng-container *ngIf="item.insert && isString(item.insert)" >
                                        <span [ngStyle]="{
                                            'color': item.attributes?.color, 
                                            'text-align': item.attributes?.align,
                                            'font-weight': item.attributes?.bold ? 'bold' : 'normal',
                                            'font-style': item.attributes?.italic ? 'italic' : 'normal',
                                            'text-decoration': item.attributes?.underline ? 'underline' : 'none'
                                        }" >{{item.insert}}</span>
                                    </ng-container>
                                    <ng-container *ngIf="item.insert && !isString(item.insert)">
                                        <img *ngIf="item.insert.image" [src]="item.insert.image" alt="Embedded Image">
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4">
                    <div class="widget widget-02 mb-40">
                        <div class="widget-title-box mb-20">
                            <h3 class="widget-title">Publicaciones recientes</h3>
                        </div>
                        <ul class="recent-post">
                            <li *ngFor="let post of global.posts" (click)="view(post)">
                                <div class="widget-post-img">
                                    <img src="{{post.img}}" alt="" style="max-width: 150px;">
                                </div>
                                <div class="widget-post-body">
                                    <h6 class="widget-post-title"><a> {{post.title}}</a></h6>
                                    <div class="widget-post-meta"><i class="far fa-angle-right"></i>Por {{post.autor}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>