<section class="blog-area blog-strandard-area pt-130 pb-85">
    <div class="container">
        <div class="row gx-xxl-3">
            <div class="col-xxl-8 col-xl-8 col-lg-8" >
                <div class="blog-strandard-content">
                    <div class="kblog mb-35" *ngFor="let post of global.posts" (click)="view(post)" style="cursor: pointer;">
                        <div class="kblog__img mb-35">
                            <img class="img-fluid" src="{{post.img}}" alt="">
                        </div>
                        <div class="kblog__content">
                            <div class="bl-meta mb-10">
                                <ul>
                                    <li><span><i class="fal fa-user-circle"></i>Por <span>{{post.autor}}</span></span>
                                    </li>
                                    <li><span><i class="fal fa-calendar-alt"></i>{{post.createdAt | date}}</span></li>
                                </ul>
                            </div>
                            <h4 class="k-blog-title"> <a >{{post.title}}</a></h4>
                            <p class="pt-15">{{post.description}}</p>
                            <a  class="theme_btn theme_btn_bg theme-border-btn mt-30" (click)="view(post)">Ver  <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <!-- <div class="quote-wrapper">
                        <div class="quote-text">
                            <h4>Smashing Podcast Episode 9 With Stéphanie
                                Walter Can Work Frameworks</h4>
                            <h5>Goncalves Pereira</h5>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4">
                <!-- <div class="widget mb-40">
                    <div class="widget-title-box mb-20">
                        <h3 class="widget-title">Busqueda avanzada</h3>
                    </div>
                    <form class="search-form" action="">
                        <input type="text" placeholder="Keywords">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div> -->

                <!-- <div class="widget widget-no-bg mb-40 p-0">
                    <ul class="widget-list">
                        <li><a >Web Development <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                        <li><a >IT Consulting <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                        <li><a >Product Engineering <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                        <li><a >Product Marketing <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                        <li><a >Education <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                        <li><a >Medical &amp; Health <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                    </ul>
                </div> -->

                <div class="widget widget-02 mb-40">
                    <div class="widget-title-box mb-20">
                        <h3 class="widget-title">Ultimas publicaciones</h3>
                    </div>
                    <ul class="recent-post">
                        <li *ngFor="let post of global.posts" (click)="view(post)">
                            <div class="widget-post-img">
                                <img src="{{post.img}}" alt="" style="max-width: 150px;">
                            </div>
                            <div class="widget-post-body">
                                <h6 class="widget-post-title"><a > {{post.title}}</a></h6>
                                    <div class="widget-post-meta"><i class="far fa-angle-right"></i>Por {{post.autor}}
                                    </div>
                            </div>
                        </li>
                       
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
