<section class="blog-area blog-strandard-area pt-130 pb-85">
    <div class="container">
        <div class="row gx-xxl-3">
            <div class="col-xxl-8 col-xl-8 col-lg-8">
                <div class="blog-strandard-content">
                    <div class="kblog mb-35">
                        <div class="kblog__img mb-35">
                            <img class="img-fluid" src="assets/multi/img/blog/b-07.jpg" alt="">
                        </div>
                        <div class="kblog__content">
                            <div class="bl-meta mb-10">
                                <ul>
                                    <li><span><i class="fal fa-user-circle"></i>Por <span>David Max</span></span>
                                    </li>
                                    <li><span><i class="fal fa-calendar-alt"></i>25 Jan 2021</span></li>
                                </ul>
                            </div>
                            <h4 class="k-blog-title"> <a href="">Designing Ethically Optimizing Videos
                                    And Shining Spotlight On Our SmashingConf Speakers</a></h4>
                            <p class="pt-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium totam rem aperiam
                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                                dicta sunt explicabo.</p>
                            <a href="" class="theme_btn theme_btn_bg theme-border-btn mt-30">Ver  <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="kblog mb-35">
                        <div class="kblog__img mb-35">
                            <img class="img-fluid" src="assets/multi/img/blog/b-08.jpg" alt="">
                        </div>
                        <div class="kblog__content">
                            <div class="bl-meta mb-10">
                                <ul>
                                    <li><span><i class="fal fa-user-circle"></i>Por <span>David Max</span></span>
                                    </li>
                                    <li><span><i class="fal fa-calendar-alt"></i>25 Jan 2021</span></li>
                                </ul>
                            </div>
                            <h4 class="k-blog-title"> <a href="">Improving Your Team’s Communication
                                    In The Age Of Remote Work</a></h4>
                            <p class="pt-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium totam rem aperiam
                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                                dicta sunt explicabo.</p>
                            <a href="" class="theme_btn theme_btn_bg theme-border-btn mt-30">Ver  <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="quote-wrapper">
                        <div class="quote-text">
                            <h4>Smashing Podcast Episode 9 With Stéphanie
                                Walter Can Work Frameworks</h4>
                            <h5>Goncalves Pereira</h5>
                        </div>
                    </div>
                    <div class="kblog mb-35">
                        <div class="kblog__img pos-rel mb-35">
                            <img class="img-fluid" src="assets/multi/img/blog/b-09.jpg" alt="">
                            <a href="https://www.youtube.com/watch?v=j7wZogQhmFE" class="popup-video"><i
                                    class="fas fa-play"></i></a>
                        </div>
                        <div class="kblog__content">
                            <div class="bl-meta mb-10">
                                <ul>
                                    <li><span><i class="fal fa-user-circle"></i>Por <span>David Max</span></span>
                                    </li>
                                    <li><span><i class="fal fa-calendar-alt"></i>25 Jan 2021</span></li>
                                </ul>
                            </div>
                            <h4 class="k-blog-title"> <a href="">An Interview With Rémi Parmentier
                                    Smashingong Speaker Appointments And Events Press</a></h4>
                            <p class="pt-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium totam rem aperiam
                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                                dicta sunt explicabo.</p>
                            <a href="" class="theme_btn theme_btn_bg theme-border-btn mt-30">Ver  <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4">
                <div class="widget mb-40">
                    <div class="widget-title-box mb-20">
                        <h3 class="widget-title">Busqueda avanzada</h3>
                    </div>
                    <form class="search-form" action="">
                        <input type="text" placeholder="Keywords">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>

                <!-- <div class="widget widget-no-bg mb-40 p-0">
                    <ul class="widget-list">
                        <li><a href="">Web Development <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                        <li><a href="">IT Consulting <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                        <li><a href="">Product Engineering <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                        <li><a href="">Product Marketing <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                        <li><a href="">Education <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                        <li><a href="">Medical &amp; Health <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                    </ul>
                </div> -->

                <div class="widget widget-02 mb-40">
                    <div class="widget-title-box mb-20">
                        <h3 class="widget-title">Ultimos post</h3>
                    </div>
                    <ul class="recent-post">
                        <li>
                            <div class="widget-post-img">
                                <img src="assets/multi/img/blog/b-10.jpg" alt="">
                            </div>
                            <div class="widget-post-body">
                                <h6 class="widget-post-title"><a href=""> Ver articulo
                                        Title</a></h6>
                                <div class="widget-post-meta"><i class="far fa-angle-right"></i>Por Silva Hola
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="widget-post-img">
                                <img src="assets/multi/img/blog/b-11.jpg" alt="">
                            </div>
                            <div class="widget-post-body">
                                <h6 class="widget-post-title"><a href=""> Ver articulo
                                        Title</a></h6>
                                <div class="widget-post-meta">By Silva Hola</div>
                            </div>
                        </li>
                        <li>
                            <div class="widget-post-img">
                                <img src="assets/multi/img/blog/b-12.jpg" alt="">
                            </div>
                            <div class="widget-post-body">
                                <h6 class="widget-post-title"><a href=""> Ver articulo
                                        Title</a></h6>
                                <div class="widget-post-meta">By Silva Hola</div>
                            </div>
                        </li>
                        <li>
                            <div class="widget-post-img">
                                <img src="assets/multi/img/blog/b-13.jpg" alt="">
                            </div>
                            <div class="widget-post-body">
                                <h6 class="widget-post-title"><a href=""> Ver articulo
                                        Title</a></h6>
                                <div class="widget-post-meta">By Silva Hola</div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
