<section class="blog-area blog-strandard-area pt-130 pb-85">
    <div class="container">
        <div class="row gx-xxl-3">
            <div class="col-xxl-8 col-xl-8 col-lg-8">
                <div class="blog-strandard-content">
                    <div class="kblog mb-35">
                        <div class="kblog__img mb-35">
                            <img class="img-fluid" src="assets/multisoft/img/blog/b-07.jpg" alt="">
                        </div>
                        <div class="kblog__content">
                            <div class="bl-meta mb-10">
                                <ul>
                                    <li><span><i class="fal fa-user-circle"></i>By <span>David Max</span></span>
                                    </li>
                                    <li><span><i class="fal fa-calendar-alt"></i>25 Jan 2021</span></li>
                                </ul>
                            </div>
                            <h4 class="k-blog-title"> <a href="about.html">Designing Ethically Optimizing Videos
                                    And Shining Spotlight On Our SmashingConf Speakers</a></h4>
                            <p class="pt-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium totam rem aperiam
                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                                dicta sunt explicabo.</p>
                            <a href="contact.html" class="theme_btn theme_btn_bg theme-border-btn mt-30">Learn
                                more <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="kblog mb-35">
                        <div class="kblog__img mb-35">
                            <img class="img-fluid" src="assets/multisoft/img/blog/b-08.jpg" alt="">
                        </div>
                        <div class="kblog__content">
                            <div class="bl-meta mb-10">
                                <ul>
                                    <li><span><i class="fal fa-user-circle"></i>By <span>David Max</span></span>
                                    </li>
                                    <li><span><i class="fal fa-calendar-alt"></i>25 Jan 2021</span></li>
                                </ul>
                            </div>
                            <h4 class="k-blog-title"> <a href="about.html">Improving Your Team’s Communication
                                    In The Age Of Remote Work</a></h4>
                            <p class="pt-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium totam rem aperiam
                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                                dicta sunt explicabo.</p>
                            <a href="contact.html" class="theme_btn theme_btn_bg theme-border-btn mt-30">Learn
                                more <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="quote-wrapper">
                        <div class="quote-text">
                            <h4>Smashing Podcast Episode 9 With Stéphanie
                                Walter Can Work Frameworks</h4>
                            <h5>Goncalves Pereira</h5>
                        </div>
                    </div>
                    <div class="kblog mb-35">
                        <div class="kblog__img pos-rel mb-35">
                            <img class="img-fluid" src="assets/multisoft/img/blog/b-09.jpg" alt="">
                            <a href="https://www.youtube.com/watch?v=j7wZogQhmFE" class="popup-video"><i
                                    class="fas fa-play"></i></a>
                        </div>
                        <div class="kblog__content">
                            <div class="bl-meta mb-10">
                                <ul>
                                    <li><span><i class="fal fa-user-circle"></i>By <span>David Max</span></span>
                                    </li>
                                    <li><span><i class="fal fa-calendar-alt"></i>25 Jan 2021</span></li>
                                </ul>
                            </div>
                            <h4 class="k-blog-title"> <a href="about.html">An Interview With Rémi Parmentier
                                    Smashingong Speaker Appointments And Events Press</a></h4>
                            <p class="pt-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium totam rem aperiam
                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                                dicta sunt explicabo.</p>
                            <a href="contact.html" class="theme_btn theme_btn_bg theme-border-btn mt-30">Learn
                                more <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4">
                <div class="widget mb-40">
                    <div class="widget-title-box mb-20">
                        <h3 class="widget-title">Search Here</h3>
                    </div>
                    <form class="search-form" action="blog-strandard.html#">
                        <input type="text" placeholder="Keywords">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>

                <div class="widget widget-no-bg mb-40 p-0">
                    <ul class="widget-list">
                        <li><a href="about.html">Web Development <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                        <li><a href="about.html">IT Consulting <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                        <li><a href="about.html">Product Engineering <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                        <li><a href="about.html">Product Marketing <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                        <li><a href="about.html">Education <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                        <li><a href="about.html">Medical &amp; Health <span class="float-end"><i
                                        class="far fa-chevron-right"></i></span></a></li>
                    </ul>
                </div>

                <div class="widget widget-02 mb-40">
                    <div class="widget-title-box mb-20">
                        <h3 class="widget-title">Recent News</h3>
                    </div>
                    <ul class="recent-post">
                        <li>
                            <div class="widget-post-img">
                                <img src="assets/multisoft/img/blog/b-10.jpg" alt="">
                            </div>
                            <div class="widget-post-body">
                                <h6 class="widget-post-title"><a href="https://codeskdhaka.com/html/koway-preview/koway/contact.htm"> More Appointments Events
                                        WordPress Booking</a></h6>
                                <div class="widget-post-meta"><i class="far fa-angle-right"></i>By Silva Hola
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="widget-post-img">
                                <img src="assets/multisoft/img/blog/b-11.jpg" alt="">
                            </div>
                            <div class="widget-post-body">
                                <h6 class="widget-post-title"><a href="contact.html"> More Appointments Events
                                        WordPress Booking</a></h6>
                                <div class="widget-post-meta">By Silva Hola</div>
                            </div>
                        </li>
                        <li>
                            <div class="widget-post-img">
                                <img src="assets/multisoft/img/blog/b-12.jpg" alt="">
                            </div>
                            <div class="widget-post-body">
                                <h6 class="widget-post-title"><a href="contact.html"> More Appointments Events
                                        WordPress Booking</a></h6>
                                <div class="widget-post-meta">By Silva Hola</div>
                            </div>
                        </li>
                        <li>
                            <div class="widget-post-img">
                                <img src="assets/multisoft/img/blog/b-13.jpg" alt="">
                            </div>
                            <div class="widget-post-body">
                                <h6 class="widget-post-title"><a href="contact.html"> More Appointments Events
                                        WordPress Booking</a></h6>
                                <div class="widget-post-meta">By Silva Hola</div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="widget widget-gallery grey-bg mb-30">
                    <div class="widget-title-box mb-15">
                        <h3 class="widget-title">Photo Gallery</h3>
                    </div>
                    <ul class="instagram">
                        <li>
                            <a class="insta" href="contact.html">
                                <img class="img-fluid" src="assets/multisoft/img/blog/b-14.jpg" alt="">
                                <span><i class="fab fa-instagram"></i></span>
                            </a>
                        </li>
                        <li>
                            <a class="insta" href="contact.html">
                                <img class="img-fluid" src="assets/multisoft/img/blog/b-15.jpg" alt="">
                                <span><i class="fab fa-instagram"></i></span>
                            </a>
                        </li>
                        <li>
                            <a class="insta" href="contact.html">
                                <img class="img-fluid" src="assets/multisoft/img/blog/b-16.jpg" alt="">
                                <span><i class="fab fa-instagram"></i></span>
                            </a>
                        </li>
                        <li>
                            <a class="insta" href="contact.html">
                                <img class="img-fluid" src="assets/multisoft/img/blog/b-17.jpg" alt="">
                                <span><i class="fab fa-instagram"></i></span>
                            </a>
                        </li>
                        <li>
                            <a class="insta" href="contact.html">
                                <img class="img-fluid" src="assets/multisoft/img/blog/b-18.jpg" alt="">
                                <span><i class="fab fa-instagram"></i></span>
                            </a>
                        </li>
                        <li>
                            <a class="insta" href="contact.html">
                                <img class="img-fluid" src="assets/multisoft/img/blog/b-19.jpg" alt="">
                                <span><i class="fab fa-instagram"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="widget widget-tag">
                    <div class="widget-title-box mb-20">
                        <h3 class="widget-title">Popular Tags</h3>
                    </div>
                    <div class="tag">
                        <a href="contact.html">Design</a>
                        <a href="contact.html">Portfolio</a>
                        <a href="contact.html">Energy</a>
                        <a href="contact.html">Marketing</a>
                        <a href="contact.html">Resume</a>
                        <a href="contact.html">Gallery</a>
                        <a href="contact.html">Renewable</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
